<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/fontawesome/css/all.css">
</head>
<body>
  <div class="detail" id="detail">
    <i class="fa-solid fa-xmark" id="xMarkDetail" onclick="closeDetail()"></i>
    <i class="fa-solid fa-pen-to-square"></i>
    <i class="fa-solid fa-trash"></i> 
    <% result.forEach(data => { %>
      <h3><%= data.title %> </h3>
      <p><%= data.words %> </p>
      <p>-<%= data.username %> </p>
      <%}) %> 
  </div>
  </div>
</body>
</html>